.pie-container {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(50, 50, 93, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.leaderboard-container {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(50, 50, 93, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.leaderboard-item {
  border-bottom: 1px solid darkslategrey;
  background: var(--primary-grey);
}

.category {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(50, 50, 93, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font: bolder;
}

.category:hover {
  background: white;
}

a {
  text-decoration: none;
}
#transport .category {
  color: blue;
}
#food .category {
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(green),
    to(rgb(31, 41, 31))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: red;
}
#energy .category {
  color: orange;
}
#community .category {
  color: forestgreen;
}

/* CSS code to hide specific columns for screens 800px or smaller */

@media (max-width: 800px) {
  .table th:nth-child(2), 
  .table td:nth-child(2), 
  .table th:nth-child(3), 
  .table td:nth-child(3), 
  .table th:nth-child(4), 
  .table td:nth-child(4),
  .table th:nth-child(5), 
  .table td:nth-child(5),
  .table th:nth-child(6), 
  .table td:nth-child(6) {
    display: none;
  }
}
/* CSS code to hide specific columns for screens 800px or smaller */

@media (max-width: 800px) {
  .table th:nth-child(2), 
  .table td:nth-child(2), 
  .table th:nth-child(3), 
  .table td:nth-child(3), 
  .table th:nth-child(4), 
  .table td:nth-child(4),
  .table th:nth-child(5), 
  .table td:nth-child(5),
  .table th:nth-child(6), 
  .table td:nth-child(6) {
    display: none;
  }
}

