.container-row {
  margin-top: 2em;
}

.chart-icon {
  position: absolute;
  color: var(--primary-green);
  font-size: 2rem;
}

.fa-pizza-slice {
  color: #f06543;
}

.fa-utensils {
  color: var(--primary-blue);
}

.food-wrapper {
  background-color: var(--primary-white);
  padding: 2em 4em;
  border-radius: 15px;
}

.food-wrapper > * {
  margin-bottom: 0.5em;
}

#result {
  min-height: 1.5rem;
}
