.container-row {
  margin-top: 2em;
}

.chart-icon {
  position: absolute;
  color: var(--primary-green);
  font-size: 2rem;
}

.fa-pizza-slice {
  color: #f06543;
}

.fa-utensils {
  color: #a594f9;
}

.food-wrapper {
  padding: 2em 4em;
  border-radius: 15px;
}

.food-wrapper > * {
  margin-bottom: 0.5em;
}

#result {
  min-height: 1.5rem;
}

body {
  color: #198754;
}

.glassmorphism {
  border-radius: 10px;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  font: bolder;
}

.glassmorphism-title {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font: bolder;
}

.card h1 {
  font-weight: bold;
  font-size: 3rem;
}
