.display-none {
  display: none;
}

.chart-icon {
  position: absolute;
  color: #f07654;
  font-size: 2rem;
}

/* .submit-btn,
.reset-btn {
  position: relative;
  isolation: isolate;
  background-color: #6e9c11;
  color: white;
  margin-top: 1em;
  margin-left: 0.5em;
  overflow: hidden;
  transition: color 500ms ease;
  border-radius: 10px;
  border: none;
} */
.forms-div {
  gap: 1em;
  background-color: var(--primary-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
.energy-chart {
  width: 300px;
}
/* .submit-btn::after,
.reset-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -1;
  background-color: white;
  transform: scale(0);
  transition: transform 400ms ease-in;
}
.submit-btn:hover,
.reset-btn:hover {
  color: black;
}
.submit-btn:hover::after,
.reset-btn:hover::after,
.reset-btn:focus-visible::after,
.submit-btn:focus-visible::after {
  transform: scale(2);
  border: none;
  outline: none;
  transition: transform 500ms ease-in;
} */

@media (min-width: 800px) {
  .grid-forms-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
    gap: 0.5em;
  }
}

@media (min-width: 800px) {
  .form-check {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
  }
  .form-check > * {
    margin: 0;
    padding: 0;
  }
  .form-check > :first-child {
    justify-self: end;
    margin-right: 0.5em;
  }
  .form-check > :not(:first-child) {
    justify-self: start;
  }
}
