/* ROOT STYLE CSS ACROSS ALL PAGES */

:root {
  /* PLACE COLOUR SCHEME HERE */
  /* CSS HEX */
  --tiffany-blue: #8ccebeff;
  --forest-green: #558f40ff;
  --avocado: #518523ff;
  --apple-green: #6e9c11ff;
  --white: #ffffffff;

  --green-gradient: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );

  --primary-white: #f9f6ee;
  --primary-blue: #4b7bff;
  --primary-green: #34a744;
  --primary-grey: #d1d5db;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* BASIC CSS FOR DEMO PURPOSES */

body {
  background: url("../images/background-image.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

form {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.glassmorphism-title {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  font: bolder;
}

/* NAVBAR CSS */

input:focus:invalid {
  border-color: rgba(255, 1, 1, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(255, 1, 1, 0.5);
}

input:focus:valid {
  border-color: rgba(44, 255, 2, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(44, 255, 2, 0.5);
}

.focused:invalid {
  outline: none;
  border-color: rgba(255, 1, 1, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(255, 1, 1, 0.5);
}
.focused:valid {
  outline: none;
  border-color: rgba(44, 255, 2, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(44, 255, 2, 0.5);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--green-gradient);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#loader img {
  border-radius: 2rem;
  width: 100%;
}

.bg-nav {
  background-color: #f8faf875;
  box-shadow: 0 0 5px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* ANIMATIONS */

.fade-in {
  opacity: 0; /* Initially, the text is invisible */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Starting from invisible */
  }
  100% {
    opacity: 1; /* Ending at fully visible */
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100%);

  animation: fadeInRight 0.5s ease-in-out forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  90% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*signup*/
#signup {
  opacity: 0.8;
}

.submit-btn,
.reset-btn {
  background-color: var(--forest-green);
  margin-top: 1em;
  margin-left: 0.5em;
  overflow: hidden;
  transition: color 500ms ease;
  border-radius: 100vmax;
  border: none;
  padding: 0.5em 2em;
}

/*fact_page css*/
#bicycle,
#recycle,
#bus,
#energy,
#food {
  background-color: #6e9c11ff;
}

#slide-item {
  background: linear-gradient(#8ccebeff, #ffffffff, #8ccebeff);
}

#fact-heading {
  background-image: linear-gradient(
    to right,
    rgb(106, 185, 166),
    rgb(56, 94, 23)
  );
  -webkit-background-clip: text;
  color: transparent;
}

#slide-container {
  opacity: 0.9;
}

/* footer */
.footer {
  padding: 5px;
  /* background: rgba(255, 255, 255, 0.75); */
  background: #198754;
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font: bolder;
}

.chat-div {
  position: absolute;
  bottom: -50px;
  left: 45px;
  height: 500px;
  width: 500px;
  transform: scaleY(0);
  overflow: hidden;
  transition: transform 600ms ease-in-out;
  transform-origin: bottom left;
}

main {
  position: relative;
}

.active {
  height: auto;
  transform: scaleY(1);
  transform-origin: bottom left;
}

.chat-btn {
  color: var(--apple-green);
  font-size: 3rem;
}
