/* ROOT STYLE CSS ACROSS ALL PAGES */

:root {
  /* PLACE COLOUR SCHEME HERE */
  /* CSS HEX */
  --tiffany-blue: #8ccebeff;
  --forest-green: #558f40ff;
  --avocado: #518523ff;
  --apple-green: #6e9c11ff;
  --white: #ffffffff;

  --green-gradient: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );

  --primary-white: #f9f6ee;
  --primary-blue: #4b7bff;
  --primary-green: #34a744;
  --primary-grey: #d1d5db;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* BASIC CSS FOR DEMO PURPOSES */

body {
  background: url("../images/background-image.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

form {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

/* .dropdown button {
  border: none;
  background: inherit;
} */

/* button {
  border: none;
  border-radius: 1rem;
  background-color: rgb(97, 212, 97);
  padding: 1rem 2rem;
  transition: all 300ms;
  font-weight: bolder;
}

button:hover,
button:focus {
  background-color: green;
  cursor: pointer;
  transform: scale(0.98);
  color: var(--primary-white);
} */

input:focus:invalid {
  border-color: rgba(255, 1, 1, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(255, 1, 1, 0.5);
}

input:focus:valid {
  border-color: rgba(44, 255, 2, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(44, 255, 2, 0.5);
}

.focused:invalid {
  outline: none;
  border-color: rgba(255, 1, 1, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(255, 1, 1, 0.5);
}
.focused:valid {
  outline: none;
  border-color: rgba(44, 255, 2, 0.5) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(44, 255, 2, 0.5);
}

#loginMessage {
}

.bg-nav {
  background-color: #f8faf875;
  box-shadow: 0 0 5px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/*landing page text overlay*/
/* #text-overlay {
  width: 400px;
  opacity: 0.6;
  padding: 20px;
  box-shadow: 0 0 5px 5px;
} */

.fade-in {
  opacity: 0; /* Initially, the text is invisible */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Starting from invisible */
  }
  100% {
    opacity: 1; /* Ending at fully visible */
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100%);

  animation: fadeInRight 0.5s ease-in-out forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  90% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*signup*/
#signup {
  opacity: 0.8;
}

.submit-btn,
.reset-btn {
  background-color: #6e9c11;
  color: white;
  margin-top: 1em;
  margin-left: 0.5em;
  overflow: hidden;
  transition: color 500ms ease;
  border-radius: 100vmax;
  border: none;
  padding: 0.5em 2em;
}
