/* ROOT STYLE CSS ACROSS ALL PAGES */

:root {
  /* PLACE COLOUR SCHEME HERE */
  /* CSS HEX */
--tiffany-blue: #8CCEBEff;
--forest-green: #558F40ff;
--avocado: #518523ff;
--apple-green: #6E9C11ff;
--white: #FFFFFFff;

  --green-gradient: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );

  --primary-white: #f9f6ee;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* BASIC CSS FOR DEMO PURPOSES */

body {
  background: url("../images/river-landscape-illustration-with-view-mountains-green-fields-trees-and-forest-surrounding-the-rivers-in-flat-cartoon-hand-drawn-templates-vector.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background: var(--green-gradient);*/
  text-align: center;
}

form {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

button {
  border: none;
  border-radius: 1rem;
  background-color: rgb(97, 212, 97);
  padding: 1rem 2rem;
  transition: all 300ms;
  font-weight: bolder;
}

button:hover,
button:focus {
  background-color: green;
  cursor: pointer;
  transform: scale(0.98);
  color: var(--primary-white);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: 2px solid darkslategray;
  border: none;
}

input:focus:invalid {
  outline-color: red;
}

input:focus:valid {
  outline-color: green;
}

.focused:invalid {
  outline-color: red;
}
.focused:valid {
  outline-color: green;
}

#loginMessage {

}

.bg-nav {
  background-color: #f8faf875;
  box-shadow: 0 0  5px;
}

.logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}

/*landing page text overlay*/
#text-overlay {
  width: 400px;
  opacity: 0.6;
  padding: 20px;
  box-shadow: 0 0 5px 5px;
}

.fade-in-text {
  opacity: 0; /* Initially, the text is invisible */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
      opacity: 0; /* Starting from invisible */
  }
  100% {
      opacity: 1; /* Ending at fully visible */
  }
}

/*signup*/
#signup{
  opacity: 0.8;
}
