.form-card {
  padding: 0.5rem;
  border-radius: 1rem;
}

.total-container {
  max-width: 1000px;
}

.chart-icon {
  position: absolute;
  color: var(--primary-blue);
  font-size: 2rem;
}
body {
  background-color: darkslategray;
}

.container-row {
  margin-top: 2em;
}

.car-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.h3 {
  font-weight: 400;
  font-size: 1.5rem;
}
